In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("satisfaction_2015.xlsx")

## __One_Hot_Encoder__

In [3]:
## One_Hot_Encoder works with:
    ## df: should be type of pandas.core.frame.DataFrame
    ## to_be_encoded: should be type of either one of the following ["pandas.core.indexes.base.Index","list","tuple"]

In [4]:
def One_Hot_Encoder(df,to_be_encoded):

    ### Input variable checks & errors

    wrong_column_name=[]
    
    if isinstance(df, pd.core.frame.DataFrame)==False:
        print("The first variable is not a pandas data frame, please enter a pandas data frame")
        return
    
    if len(df)==0:
        print("The data frame is empty, please check your data frame.")
        return
    
    if len(to_be_encoded)==0:
        print("The list of columns, to be encoded, is empty. Please check your list.")
        return
    
    for i in to_be_encoded:
        if i not in df.columns.tolist():
            wrong_column_name.append(i)
    
    if len(wrong_column_name)>0:
        if len(wrong_column_name)==1:
            print("There is no such a column as: {}".format(wrong_column_name))
        if len(wrong_column_name)>1:
            print("There are no columns as: {}".format(wrong_column_name))
        return
    
    ### N-1 Cluster Encoding

    for i in to_be_encoded:
        dummies=pd.get_dummies(df[i],drop_first=True,prefix=i).astype(int)
        df=pd.concat([df,dummies],axis=1)
        df.drop(columns=i,inplace=True)
    
    print("encoded_df is prepared")
    return df

In [5]:
a=["satisfaction_v2","Gender","Customer Type","Class","Type of Travel"]

In [6]:
encoded_df=One_Hot_Encoder(df,a)

encoded_df is prepared

In [9]:
encoded_df

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction_v2_satisfied,Gender_Male,Customer Type_disloyal Customer,Class_Eco,Class_Eco Plus,Type of Travel_Personal Travel
0,117135,56,369,0,2,0,4,3,0,3,...,4,3,0,0.0,1,1,1,1,0,1
1,72091,49,2486,0,2,1,4,2,1,3,...,3,2,0,0.0,1,1,1,1,0,1
2,29663,55,1448,0,3,0,4,3,0,3,...,3,3,0,0.0,1,1,1,1,0,1
3,81849,36,1501,0,4,0,3,4,0,4,...,5,4,0,0.0,1,0,1,1,0,1
4,83693,55,577,0,5,0,3,3,5,3,...,4,3,0,0.0,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,49202,35,2592,5,5,5,5,4,2,4,...,5,4,0,0.0,1,0,0,0,0,0
129876,16986,11,610,5,1,1,1,5,5,5,...,5,5,82,65.0,1,0,0,1,0,0
129877,50316,46,86,1,1,1,1,5,5,5,...,2,2,0,0.0,1,1,0,0,0,0
129878,22333,35,83,1,1,1,1,5,5,5,...,5,5,0,0.0,1,0,0,0,0,0
129879,10198,47,3939,1,1,3,1,5,5,5,...,4,5,0,0.0,1,0,0,0,0,0

In [10]:
df

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,1448,0,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,36,Personal Travel,Eco,1501,0,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,577,0,5,...,3,3,3,4,5,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,49202,satisfied,Female,Loyal Customer,35,Business travel,Business,2592,5,5,...,4,5,5,5,5,5,5,4,0,0.0
129876,16986,satisfied,Female,Loyal Customer,11,Business travel,Eco,610,5,1,...,5,5,5,4,1,2,5,5,82,65.0
129877,50316,satisfied,Male,Loyal Customer,46,Business travel,Business,86,1,1,...,5,5,1,3,1,5,2,2,0,0.0
129878,22333,satisfied,Female,Loyal Customer,35,Business travel,Business,83,1,1,...,5,5,4,4,2,5,5,5,0,0.0
129879,10198,satisfied,Female,Loyal Customer,47,Business travel,Business,3939,1,1,...,5,5,2,5,4,5,4,5,0,0.0